
    .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiperRoomDetails {
    height: 380px;
    width: 100%;
  }
  
  .mySwiperRoomThumbs {
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiperRoomThumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiperRoomThumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  
.shake-btn{
 
  animation-name: shake;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  cursor: pointer;
}


@keyframes shake {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}